<!doctype html>
<html lang="en">
<%
    var menus = menuList.menu;
%>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="stylesheet" href="/asset/css/font.css">
    <link rel="stylesheet" href="/asset/css/admin.css">
    <script type="text/javascript" src="/asset/lib/layui/layui.js" charset="utf-8"></script>
</head>

<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo">
        <a href="/">Act_Admin</a>
    </div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>
    <ul class="layui-nav left fast-add" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">+新增</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="addPage('资讯','http://www.baidu.com')"><i class="iconfont">&#xe6a2;</i>资讯</a>
                </dd>
                <dd>
                    <a onclick="addPage('图片','http://www.baidu.com')"><i class="iconfont">&#xe6a8;</i>图片</a>
                </dd>
                <dd>
                    <a onclick="addPage('用户','http://www.baidu.com')"><i class="iconfont">&#xe6b8;</i>用户</a>
                </dd>
            </dl>
        </li>
    </ul>
    <ul class="layui-nav right" lay-filter="">
        <li class="layui-nav-item">
            <a href="javascript:;">Admin</a>
            <dl class="layui-nav-child">
                <!-- 二级菜单 -->
                <dd>
                    <a onclick="addPage('个人信息','http://www.baidu.com')">个人信息</a>
                </dd>
                <dd>
                    <a class="loginout" href="/loginout">退出</a>
                </dd>
            </dl>
        </li>
    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <%
            for(topMenu in menus){
            %>
            <li>
                <a href="javascript:;">
                    <i class="layui-icon ${topMenu.iconfont}"></i>
                    <cite>${topMenu.name}</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <%
                var secondMenus = topMenu.sub;
                if(secondMenus.~size > 0) {
                for(secondMenu in secondMenus){
                %>
                <ul class="sub-menu">
                    <li>
                        <a _href="${secondMenu.url}">
                            <i class="layui-icon ${secondMenu.iconfont}"></i>
                            <cite>${secondMenu.name}</cite>

                        </a>
                            <%
                            var threeMenus = secondMenu.sub;
                            if(threeMenus.~size > 0) {
                            for(threeMenu in threeMenus){
                            %>
                            <ul class="sub-menu">
                                <li>
                                    <a _href="${threeMenu.url}">
                                        <i class="layui-icon ${threeMenu.iconfont}"></i>
                                        <cite>${threeMenu.name}</cite>
                                    </a>
                                </li>
                            </ul>
                            <% }} %>
                    </li>
                </ul>
                <% }} %>
            </li>
            <% } %>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab" lay-filter="wenav_tab" id="WeTabTip" lay-allowclose="true">
        <ul class="layui-tab-title" id="tabName">
            <li class="home"><i class="layui-icon">&#xe68e;</i>控制台</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/dashboard' frameborder="0" scrolling="yes" class="weIframe"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2018 Act_Admin v1.0 All Rights Reserved</div>
</div>
<!-- 底部结束 -->
<script type="text/javascript">
    layui.config({
        base: '/asset/js/'
        , version: 'v1'
    }).use('admin');
    layui.use(['jquery', 'admin'], function () {
        var $ = layui.jquery;
        $(function () {

        });
    });
</script>
</body>
<!--Tab菜单右键弹出菜单-->
<ul class="rightMenu" id="rightMenu">
    <li data-type="fresh">刷新</li>
    <li data-type="current">关闭当前</li>
    <li data-type="other">关闭其它</li>
    <li data-type="all">关闭所有</li>
</ul>

</html>